@imgBasePath: '../../assets/img';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

.panel {
    height: 800px;
    background: url('@{imgBasePath}/mariel.jpg') 50% 0 no-repeat;
    background-size: auto 200%;
    overflow: hidden;

    &.panel-2,
    &.panel-4,
    &.panel-6 {
        background-image: url('@{imgBasePath}/howl.jpg');

        .copy {
            float: right;
        }
    }
}

.copy {
    float: left;
    width: 30%;
    margin: 10%;
    padding: 5%;
    background: rgba(255,255,255,0.8);
    border-radius: 5px;
}